

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.navbar-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 50px;
}

.nav-links {
    list-style: none;
    text-align: center;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #333;
    border-radius: 5px;
}


.title-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 3s ease-in-out;
}

.main-title {
    font-size: 64px;
    color: #ffffff;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
